<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thermocu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tcon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tcon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThermoCU">
        <activity android:name=".help"></activity>
        <activity android:name=".share" />
        <activity android:name=".savedprofile" />
        <activity android:name=".smartdoctor" />
        <activity android:name=".profile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>